{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
{% include "partials/header.html.twig" %}

<h5>Ajouter Clients</h5>
<div class="container">
	

	<div id="loginForm">
		{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.nom, {label:false, 'attr': {'id': 'name','placeholder':'Nom complet'}}) }}
		{{ form_row(form.email, {label: false,'attr': {'id': 'email','placeholder':'Email'}}) }}
		{{ form_row(form.Tel, {label: false,'attr': {'id': 'email','placeholder':'Telephone'}}) }}
		{{ form_row(form.adresse, {label: false,'attr': {'id': 'email','placeholder':'Adresse'}}) }}
		{{ form_row(form.sexe, {label: false,'attr': {'id': 'email','placeholder':'Sexe'}}) }}
		<div id="checkbox-div">Statut{{ form_widget(form.statut, {label: false,'attr':
			{'id':'checkbox','placeholder':'Statut'}}) }}</div>
		<br>
		<center>{{ form_row(form.Submit) }}</center>

		{# <center><input type="submit" value="s'inscrire"></center> #}
		{{ form_end(form) }}
		</div>
</div>

{# {{form(form)}} #}
{% endblock %}


{#
<!DOCTYPE html>

<div class="container">
	<form id="loginForm">

		<input type="nomcomplet" id="name" name="nomcomplet" required placeholder="nom client">

		<input type="email" id="email" name="email" required placeholder="Email ">

		<input type="password" id="mdp" name="mdp" required placeholder=" telephone">

		<input type="password" id="mdp" name="mdp" required placeholder=" adresse">

		<input type="password" id="mdp" name="mdp" required placeholder=" sexe">

		<input type="password" id="mdp" name="mdp" required placeholder=" statut">

		<input type="submit" value="ajouter">

	</form>
</div>

<script src="assets/javascript/script.js"></script>
</body>

</html> #}